<%- include("./includes/head")%>
<section class="details">
    <h1><%=post.title%></h1>
    <img src="<%=post.imgUrl%>" alt="<%=post.title%>" />
    <p><%=post.description%></p>
    <hr />
    <form action="/admin/post/<%=post._id%>" method="POST">
        <button>Delete Post</button>
    </form>
    <a href="/admin/edit-post/<%=post._id%>" class="btn-edit">Edit Post</a>
</section>
<%- include("./includes/foot")%>
